<html>
<head>
<title>GST BILL CALCULATOR</title>
<style>
.box{
    width:300px;
    height:400px;
    border:dashed 3px blueviolet;
    padding:15px;
    background:limegreen;
    text-align:center;
}

body{
    background-color:red;
    text-align: center;
    font-family: Arial;
}
</style>
</head>
<body bgcolor = "limegreen">
<div class="box">
<h1>TOTAL BILL CALCULATOR</h1>
<h2>Name : Sherlin Jenifa VS</h2>
<h3>Reg No : 25017634</h3>
<br>
<form method = "post">
{% csrf_token %}
<label>Price</label><br>
<input type="number" name="Price" step="any" required>
            
<br>
                
<label>GST</label><br>
<input type="number"name="Price" step="any" required>
                
<br>
<br>              
<button type="submit"> Calculate</button>
                
<br>
                
<label>Total </label><br>
<input type="text" value="{{Total}}" readonly>
                
</form>
</div>
</body>
</html>